<div class="w3-container">
  <h1>THP c'est...</h1>
</div>

<div class="w3-row-padding">
  <div class="w3-third">
    <%= image_tag 'group.png', :class => 'howtoimg' %>
    <h2>Intense et en groupe</h2>
    <p>T.H.P, ce n'est pas de tous repos, mais vos camarades seront là pour vous aider, et souvent jusque très tard ;)</p>
  </div>

  <div class="w3-third">
    <%= image_tag 'caution.png', :class => 'howtoimg' %>
    <h2>Une caution</h2>
    <p>de 314,15 euros. Nous nous investissons beaucoup pour vous et la caution est un moyen d'être sûr que vous resterez investis vous aussi !</p>
  </div>

  <div class="w3-third">
    <%= image_tag 'student.png', :class => 'howtoimg' %>
    <h2>Ni locaux, ni profs</h2>
    <p>Espaces de coworking, bibliothèques, appartement, devriendront rapidement vos nouveaux lieux de vie.</p>
  </div>
</div>
