<div class="w3-container-lyon">
  <h1>THP c'est...</h1>
</div>

<div class="w3-row-padding">
  <div class="w3-third">
    <%= image_tag 'group.png', :class => 'howtoimg' %>
    <h2>Pas de profs, un groupe</h2>
    <p>T.H.P, c'est du peer-learning. Pas de profs, mais vos camarades seront là pour vous aider, et souvent jusque très tard ;)</p>
  </div>

  <div class="w3-third">
    <%= image_tag 'caution-lycee.png', :class => 'howtoimg' %>
    <h2>Une caution</h2>
    <p>de 314,15 euros. Nous nous investissons beaucoup pour vous et la caution est un moyen d'être sûr que vous resterez investis vous aussi !</p>
  </div>

  <div class="w3-third">
    <%= image_tag 'student.png', :class => 'howtoimg' %>
    <h2>Partout en France</h2>
    <p>Une formation disponible dans toute la France et à l'étranger. A THP, on travaille en espaces de coworking, bibliothèques, appartement...</p>
  </div>
</div>
