<div id="mailform">
<form action="https://herokuapp.us19.list-manage.com/subscribe/post?u=2cc0c84137eebba9013d95c5e&amp;id=1fe2f95700" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">

  <input type="email" value="" name="EMAIL" class="inputform" id="mce-EMAIL" placeholder="Adresse email" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2cc0c84137eebba9013d95c5e_1fe2f95700" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Inscris-toi" name="subscribe" id="mc-embedded-subscribe" class="btn-form"></div>
    </div>
</form>
</div>
