
  <h1> Témoignages</h1>


<div class="w3-row-padding">
  <div class="w3-third">
    <div class="container">
      <div class="card">
        <div class="card-avatar">
          <%= image_tag 'francis.png', :class => "card-avatar" %>
        </div>
        <div class="card-title">
          <h3>FRANÇOIS</h3>
        </div>
        <div class="card-body">
          <p>Sachant que j’ai un profil 70% commerçant et 30% ingénieur, je n’ai jamais eu de mal sur les projets hyper concrets. La force de THP a consisté à me retrouver avec un groupe. Maintenant, je continue dans le conseil, je fais moi-même tout ce que je vends à mes clients. Par ailleurs, j’ai lancé Potio Club, pour le moment c’est une plateforme pour que les professionnels qui revendent des spiritueux puissent acheter des spiritueux 100% français de façon simple et direct au producteur. J’ai commencé 4 jours après la formation de THP et j’ai fait du chiffre d’affaires depuis le 1er février. </p>
        </div>
        <div class="btn-blue">
          <a href="https://www.linkedin.com/in/mariecharlotte-lemorvan/" target="_blank">Linkedin</a>
        </div>
      </div>
    </div>
  </div>

   <div class="w3-third">
      <div class="container">
        <div class="card">
          <div class="card-avatar">
            <%= image_tag 'charly.png', :class => "card-avatar" %>
          </div>
          <div class="card-title">
            <h3>CHARLES</h3>
          </div>
          <div class="card-body">
            <p>Un ami m'a parlé de THP, je l'ai rejoint tout de suite. La formation revêt énormément d'aspects qui m'ont enthousiasmé : Le peer-learning, le programme intense, Ruby et Ruby on Rails qui sont simplement passionnants, le programme couvre un large panel de langages et techniques. En projet final, nous avons travaillé sur le site de THP, c'était une expérience enrichissante. Grâce à THP, je commence un stage et mon projet de reconversion se concrétise plus que je ne l'aurais pensé."</p>
          </div>
          <div class="btn-blue">
            <a href="https://www.linkedin.com/in/mariecharlotte-lemorvan/" target="_blank">Linkedin</a>
          </div>
        </div>
      </div>
    </div>

   <div class="w3-third">
    <div class="container">
      <div class="card">
        <div class="card-avatar">
          <%= image_tag 'mcsolaar.png', :class => "card-avatar" %>
        </div>
        <div class="card-title">
          <h3>MARIE-CHARLOTTE</h3>
        </div>
        <div class="card-body">
          <p>Après une ESC et un boulot dans la pub, j'avais envie de faire un travail où je produis quelque chose de plus concret, et où je pourrais exercer en freelance. Coder m'a paru évident, et c'est son côté gratuit qui m'a poussé à rejoindre THP. Aujourd'hui j'ai développé des compétences à la fois en front et back-end qui me permettent d'être une freelance complète.</p>
        </div>
        <div class="btn-blue">
          <a href="https://www.linkedin.com/in/mariecharlotte-lemorvan/" target="_blank">Linkedin</a>
        </div>
      </div>
    </div>
  </div>
  </div>
