
  <h1> Témoignages</h1>


<div class="w3-row-padding">
  <div class="w3-third">
    <div class="container">
      <div class="card">
        <div class="card-avatar">
          <%= image_tag 'charly.png', :class => "card-avatar" %>
        </div>
        <div class="card-title-lycee">
          <h3>CHARLES</h3>
        </div>
        <div class="card-body">
          <p>Sachant que j’ai un profil à la fois commerçant et ingénieur, j'ai voulu apprendre à coder juste avant de rentrer en ESC, après le bac, pour avoir plusieurs compétences. La force de THP a consisté à me retrouver avec un groupe. On a su se motiver ensemble et s'expliquer toutes les notions mal comprises. Aujourd'hui, je suis en stage en tant que product owner chez Huawei en Chine, et je mets à profit les compétences apprises à THP tous les jours ! </p>
        </div>
        <div class="btn-blue">
          <a href="https://www.linkedin.com/in/mariecharlotte-lemorvan/" target="_blank">Linkedin</a>
        </div>
      </div>
    </div>
  </div>

   <div class="w3-third">
      <div class="container">
        <div class="card">
          <div class="card-avatar">
            <%= image_tag 'francis.png', :class => "card-avatar" %>
          </div>
          <div class="card-title-lycee">
            <h3>FRANÇOIS</h3>
          </div>
          <div class="card-body">
            <p>N'ayant pas le bac, un ami m'a parlé de THP, je l'ai rejoint tout de suite. La formation revêt énormément d'aspects qui m'ont enthousiasmé : Le peer-learning, le programme intense, Ruby et Ruby on Rails qui sont simplement passionnants, le programme couvre un large panel de langages et techniques. En projet final, nous avons travaillé sur le site de THP, c'était une expérience enrichissante. Grâce à THP, je commence un stage et j'ai pu me former gratuitement à ce qui me plait."</p>
          </div>
          <div class="btn-blue">
            <a href="https://www.linkedin.com/in/mariecharlotte-lemorvan/" target="_blank">Linkedin</a>
          </div>
        </div>
      </div>
    </div>

   <div class="w3-third">
    <div class="container">
      <div class="card">
        <div class="card-avatar">
          <%= image_tag 'salome.jpg', :class => "card-avatar" %>
        </div>
        <div class="card-title-lycee">
          <h3>SALOMÉ</h3>
        </div>
        <div class="card-body">
          <p>En complément de mon bac S, j'avais envie d'apprendre quelque chose de concret, et que je pourrais exercer en freelance pendant mes études supérieures. Coder m'a paru évident, car c'est une activité très demandée sur le marché du travail, et c'est son côté gratuit qui m'a poussé à rejoindre THP. Aujourd'hui j'ai développé des compétences à la fois en front et back-end qui me permettent de payer mes études en école d'ingénieur.</p>
        </div>
        <div class="btn-blue">
          <a href="https://www.linkedin.com/in/mariecharlotte-lemorvan/" target="_blank">Linkedin</a>
        </div>
      </div>
    </div>
  </div>
  </div>
