<!-- La première tab -->

    <div class = "content">
      <div id="index">

        <h1> Apprends à coder gratuitement
          <br>et en communauté </h1>

        <%= render 'shared/mailform' %>


      </div>


      <div id="howto">

        <%= render 'shared/howto' %>

      </div>


      <div id="testimony">

        <%= render 'shared/testimonywomen' %>

      </div>


      <div id="register">

        <h1> L'aventure te tente ? Inscris-toi à la newsletter ! </h1>
        <div class='registerform'>
        <%= render 'shared/mailform' %>
        </div>

      </div>

</div>
