

// Position des divs
.content > div
{
  float  : center;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: white;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 1.5em;
  padding-top: 2em;
}
