// position et aspect du footer
footer {
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(252, 246, 248, 1);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 5px;
}

footer a {
  margin-right: 10px;
  margin-left: 10px;
  opacity: .6;
}

footer a:hover {
  opacity: 1;
}
