#register{
  background: #584d80;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #78738c, #584d80);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #78738c, #584d80); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 4em 2em 8em 7em;
  margin-bottom: 5em;
}


#register-lycee{
  background: #114d55;
  background: linear-gradient(to right, #114d55, #0d393f);
  background: -webkit-linear-gradient(#114d55, #0d393f);
  background: linear-gradient(to right, #114d55, #0d393f);
  padding: 4em 2em 8em 7em;
  margin-bottom: 5em;
}


#register-lyon{
  background: #1e6254;
  background: linear-gradient(to right, #1e6254, #184e43);
  background: -webkit-linear-gradient(#1e6254, #184e43);
  background: linear-gradient(to right, #1e6254, #184e43);
  padding: 4em 2em 8em 7em;
  margin-bottom: 5em;
}
